.content {
  display: flex;
  position: "absolute";
  width: "100vw";
  height: "6954px";
  animation: fadeInMenu 1.2s cubic-bezier(0.77, 0, 0.18, 1);
}

@keyframes fadeInMenu {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}